.LoginBox{
  margin:50px 100px;
  border: 2px solid darkgray;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
}

.loginPageTitle{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.loginPageInput , .registerModalFormTableRowInput, .forgotModalFormTableRowInput{
  padding: 4px 10px;
  border-top: none;
  border-bottom:2px solid darkgray;;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.loginButton, .registerButton, .forgotButton{
  background-color: transparent;
  box-shadow: none;
  outline: none;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 2px solid darkgray;
  font-size: 13px;
  cursor: pointer;
  padding: 6px 15px;
  color: #3E403F;
  transition: .2s all;
  border-radius: 14px;
  user-select: none;
  text-align: center;
}
.loginButton:hover, .registerButton:hover, .forgotButton:hover{
  background-color: #F7F7F7;
  transition: .2s all;
}

.registerButton, .forgotButton{
  margin-top: 15px;
}

.smallLinks{
    font-size:  13px;
    margin-bottom:  10px;
    display: block;
    float: left;
    margin-right: 90px;
}

.unlockAccountLink{
    margin-right: 0px;
}

.loginHeading{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.registerModalFormTableRow{
  text-align: left;
  padding-left: 15px;
}

.forgotModalFormTableRow {
  text-align: left;
  padding-left: 40px;
}

.registerModalForm, .forgotModalForm{
  width: 100%;
}
.registerModal, .forgotModal{
  margin:auto;
}

.registerModalHeading, .forgotModalHeading{
  text-align: center;
}

.registrationPageChecks{
 text-align: center;
 margin-top: 15px;
}

.registrationPageChecksLabel{
  font-size: 13px;
  opacity: 0.8;
}

.registrationPageCheck1, .registrationPageCheck2, .registrationPageCheck3, .registrationPageCheck4{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  opacity: 0.9;
}
.check {
  text-decoration: line-through;
  opacity: 0.4 !important;
}

@media screen and (max-width: 650px) {
  .loginPageInput, .registerModalFormTableRowInput, .forgotModalFormTableRowInput {
    width: 80%;
    display: block;
    margin: auto;
  }

  .LoginBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .registrationPageChecksLabel{
    display: block;
  }

}

.loginAnchorTag{
  text-decoration: none;
}

.loginBannerContainer{
  margin-top: 100px;
}

.loginBanner{
  min-height: 20px !important;
  line-height: 20px !important;
  font-size: 12px;
  padding-right: 0px !important;
  width: 85% !important;
}

.registerModalForm,.forgotModalForm tr td:first-child{
  vertical-align: bottom;
}
