body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.LoginBox{
  margin:150px 100px;
  border: 2px solid darkgray;
  width: 200px;
  height: 330px;
  padding: 20px;
  border-radius: 20px;
}


input {
  padding: 4px 10px;
  border-top: none;
  border-bottom:2px solid darkgray;;
  border-left: none;
  border-right: none;
  outline: none;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.loginButton, .registerButton{
  background-color: transparent;
  box-shadow: none;
  outline: none;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 2px solid darkgray;
  font-size: 13px;
  cursor: pointer;
  padding: 6px 15px;
  color: #3E403F;
  transition: .2s all;
  border-radius: 14px;
}
.registerButton{
  margin-top: 25px;
}

.smallLinks{
    font-size:  13px;
    margin-bottom:  10px;
    display: block;
    float: left;
}
.registerLink{
  margin-right: 90px;
}
.loginHeading{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
td {
  text-align: left;
  padding-left: 50px;
}

.registrationForm{
  width: 100%;
}
.registerModal{
  margin:auto;
}
