// out: ./todo.css, compress: true

@import './Styles/common.less';

.toDoInput{
  .commonInput;
}

.toDoButton{
  .commonButton;
  margin-bottom: 0px;
}

.toDoButtonChange {
  .toDoButton;
    position: fixed;
    left: 40%;
    bottom: 20px;
}

.bannerContainer {
  height: 40px;
  margin-top: 5px;
}

.toDoItems{
  display: inline;
  padding-left: 10px;
}

.todoItemLabel {
  font-size: 18px;
  color: black;
  user-select: none;
  cursor: pointer;
}

.toDoItemInput {
  user-select: none;
  outline: none;
  margin-right: 15px;
  margin-top: -11px;
  position: relative;
  top: 2px;
}

.toDoFolder {
  margin: 5px auto;
  width: 80px;
  user-select: none;
 }

 .toDoFilter {
display: inline-block;
     &Label{
       margin-left: 25px;
     }

 }

.groupByTodoItems {
  .dropdownContainerButton {
    width: 220px;
  }
  .dropdownContainerList{
    width: 248px;
  }
}
.filterTodoFolders {
  .dropdownContainerButton {
    width: 180px;
  }
  .dropdownContainerList{
    width: 208px;
  }
}

 .toDoSort {

   display: inline-block;

   margin-left: 50px;

   &Label{
     margin-left: 25px;
   }
 }

.toDoPrevious {
  padding: 0px 20px;
  margin-top: 10px;
  line-height: 25px;
}

.toDoPreviousPages {
  padding: 0px 3px;

  &:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }

  &.last {
    pointer-events: none;
  }
}

.pagestyles{
  margin: auto;
  margin-top: 50px;
}

.todoRow{
  margin: 15px 1.9em;
  font-size: 18px;
  user-select: none;

  &Change {
    margin: 15px 1em;
  }

  &Item {
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      background-color: lighten(lightgray,15%);
      .todoRowItemDescription, .todoRowFolderChange{
        .d_inline;
      }
    }

    &Description {
      .d_none;
      cursor: pointer;
      font-size: 10px;
      margin-left: 10px;
    }

  }
  &Hover{
    transition: 0.2s;
    &:hover{
      transition: 0.2s;
      background-color: lighten(lightgray,15%);
      .todoRowFolderDescription, .todoRowFolderChange{
        .d_inline;
      }
    }

  }

  &Folder{
    display: inline;
    cursor: pointer;
    padding-left: 10px;
    .lineHeight25;



    &Description, &Change {
      .d_none;
      cursor: pointer;
      font-size: 10px;
      margin-left: 10px;
    }

  }

}


.folderImg {
  display: inline;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.multiCheck {
  cursor: pointer;
  width: 9px;
  height: 10px;
  position: relative;
  left: -16px;
  .transition(.1s);

  &:hover {
    border: 1px solid darken(darkgray,20%);
  }
}

.editImg:hover {
  opacity: 1;
  .transition(.1s);
}

.editImg {
  cursor: pointer;
  height: 10px;
  width: 9px;
  padding-right: 0px;
  position: relative;
  left: -5px;
  opacity: 0.5;
  .transition(.1s);
}

.editModal {

  &Head {
    .centerText;
  }

  &Input {
    .commonInput;
    .centerElement;
  }

  &Button {
    .commonButton;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.deleteModal {
  &Message {
    .centerText;
    margin-top: 10px;
    font-size: 20px;
  }

  &Buttons {
    margin-left: 130px;
    margin-top: 11px;
    &Yes {
      .commonButton;
      width: 50px;
      .d_inline_block;
      margin-left: 25px;
    }

    &No {
      .commonButton;
      width: 50px;
      .d_inline_block;
    }
  }
}

.descriptionModal {
  &Heading{
    .centerText;
    margin: 0px;
    margin-bottom: 10px
  }

  &TextArea {
    width: 90%;
    height: 100px;
    line-height: 17px;
    margin-left: 15px;
    border-radius: 3px;
    border: 0.8px solid lightgray;
    outline: none;
    display: block;
    margin: auto;
  ::placeholder{

  }
  }
}

.homeImg {
  width: 16px;
}

.checked {
  text-decoration: line-through;
  color: lightgray;
}

.checkedFolder {
  filter: grayscale(100%);
}

.noRecordsToDisplay {
  margin-left: 4em;
  margin-top: 20px;
  font-style: italic;
  font-size: 15px;
  color: lightgray;
}

@media screen and (max-width: 640px) {
  .toDoSort {
    margin: 10px 0px;
  }
  .filterTodoFolders {
    .dropdownContainerButton {
      width: 220px;
    }
    .dropdownContainerList{
      width: 248px;
    }
  }

  .todoRowFolderDescription, .todoRowItemDescription {
    .d_inline;
  }
}

@media screen and (max-width: 640px) {
  .todoRowFolderChange {
    .d_inline;
  }

}

.folderChangeModal{

    .modalBody{
      height: 375px;
    }

    &Icons {
      display: inline-block;
      margin-top: 50px;
      margin-left: 10px;
    }

    &FolderContainer {
      height: 200px;
      overflow-y: scroll;
      margin-top: 10px;
    }

    &Banner {
      margin-top: 12px;
    }
}

.sideBar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,.5);

  &Main {
    position: absolute;
    right: 0%;
    height: 100vh;
    width: 40%;
    transition: .5s;
    top: 0px;
    background-color: #ececec;
  }
}


.buttonGroup {
  margin: auto;
  display: block;
  margin-left: 14px;
  margin-bottom: 20px;

  &Delete, &Move, &Share{
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
    &.disabledInput{
      pointer-events: none;
      border-color: lightgray;
      color: lightgray;
    }
  }
}
